/**head**/
.l_header{height: 0.45rem; background: #000; text-align: center;position: relative;z-index: 999;}
.l_header #l_menu,.l_header #l_close{display: block;width: 0.25rem;position: absolute;top: 0.14rem;left: 0.25rem;font-size: 0;}
.l_header #l_close{display: none;}
.l_header #l_menu img,.l_header #l_close img{width: 100%;}
.l_header h1{font-size: 0.17rem; color:  #fff; line-height: 0.45rem;}

/***tab***/
#l_nav{display: none; background: rgb(0,0,0,0.8);position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 99;font-size: 0; text-align: center;}
#l_nav .l_menu{position: relative;}
#l_nav ul{padding-top: 0.6rem;}
#l_nav li{border-bottom: 1px #fff solid; margin: 0 0.3rem; line-height: 0.5rem;}
#l_nav li a{font-size: 0.12rem; color: #fff;}

/**tab**/
.l_tab{padding: 0.35rem; 0 0.55rem}
.l_tab li{width: 25%; text-align: center; font-size: 0;}
.l_tab li p{font-size: 0.12rem; line-height: 0.18rem;padding-top: 0.15rem;}
.active{color: red;}
.active .intr-svg .st0{fill: #E20D22;}
.intr-svg{width: 0.5rem; height: 0.4rem;}

/**产品展示**/
.l_banner{height: 1.5rem;line-height: 1.5rem; text-align: center;font-size: 0.32rem;color: #fff;background: url(../images/banner.jpg) no-repeat; background-size: cover;}

